

.member-img{
    height: 12rem;
    width: 12rem;
}
#member-main,#member-container,#members-div {

  overflow: hidden;

}


#members-container{
    background-image: url('../img/small-decor.png');
    background-repeat: no-repeat;
    background-size: 30%,auto;
    background-position: bottom right;
    overflow: hidden;
}

.member-card{
    width: 13rem;
    

    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.2);
}
.member-col{
    margin-top: 3rem;
}

.card-content{
    font-size: 0.9rem;
    height: 9.5rem;
    
    background-image: url('../img/small-decor.png');
    background-repeat: no-repeat;
    background-size: 30%,auto;
    background-position: bottom right;
    backface-visibility: hidden;
}

.member-card:hover {
    box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.2);   
}
.member-img{
    height: 13rem;
}

.card-name{
    font-size: large;
    font-weight: bold;
    color: #555;
}

.card-title{
    font-size: small;
}

.member-intro{
    height: 20rem;
    background-image: url('../img/member_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;

}

.member-intro img{
    height: 15rem;
    border-radius: 6rem;
    box-shadow: 3px 4px 10px 3px rgba(0, 0, 0, 0.2);   
}
.member-intro a{
    text-decoration: none;

}

.no-email {
    display: none;
}

.memeber-content {
    white-space: pre-line;
}


@media screen and (min-width:581px){
    .member-header-mobile {
        visibility: hidden;
    }
}
@media screen and (max-width:580px){
    #member-header{
        display: none;
    }
    .member-intro img{
        height: 8rem;
        
    }
    .member-intro {
        height:auto;
    }
    .member-header-mobile {
        display: block;
    }

    .member-card{
        width: 10rem;
        margin: 0;
        padding: 0;
    }

    .card-content{
        height: 10rem;
    }

    .card-title{
        font-size: 0.7rem;
    }
    .card-name {
        font-size: 0.9rem;

    }
    .member-img{
        height: 10rem;
    }
    .bg-img {
        width: 40%;
    }
}
