
#main-background {
  background-image:url("./img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  position:fixed;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: fly-in 2s ease;
}
#img{
  height: 100%;
  width: 70%;
  position: fixed;
  float: right;
  margin-right: 0;
  margin-left: auto;
  z-index: -1;
  transform: translateX(50%) 
}


#logo {
  font-family: 'Heiti TC';
  width: 70%;
  height: 30%;
  margin-left: 10%;
  z-index: 1;
  opacity: 1;
  transform: translateY(36rem) translateX(-5rem);
  animation-name: appear;
  animation-duration: 3.5s;
}


#enter{
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0;
  transform: translateY(27rem) translateX(60rem);
  box-shadow: 2px 3px 10px 3px rgba(0, 0, 0, 0.2);
  animation-name: fly-in-r;
  animation-duration: 4s;
}

#enter:hover {
  box-shadow: 2px 5px 10px 4px rgba(0, 0, 0, 0.3);
}

@keyframes appear {
  0%{opacity: 0;}
  20%{opacity: 0%;}
  40%{opacity: 0%;}
  60%{opacity: 0%;}
  100%{opacity: 1;}
}

@keyframes fly-in-r {
  0%{ transform: translateY(27rem) translateX(100rem);opacity: 0;}
  60%{transform: translateY(27rem) translateX(100rem);opacity: 0;}
  100%{transform: translateY(27rem) translateX(60rem); opacity: 1;}
}

@keyframes fly-in-l {
  0%{transform: translateY(36rem) translateX(-50rem);opacity: 0;}
  60%{transform: translateY(36rem) translateX(-50rem);opacity: 0;}
  100%{transform: translateY(36rem) translateX(0rem); opacity: 1;}
}

@keyframes fly-in {
  0%{ margin-left: -100%;opacity: 0;}
  100%{margin-left: 0; opacity: 1;}
}

@keyframes fly-in-2 {
  0%{ transform: translateY(150%);opacity: 0;}
  20%{transform: translateY(140%);opacity: 0.2}
  40%{transform: translateY(130%);opacity: 0.4}
  60%{transform: translateY(120%);opacity: 0.6}
  80%{transform: translateY(110%);opacity: 0.8}
  100%{transform: translateY(100%);opacity: 1}
}

.home-decor {
  height: 35rem;

}

#nav-img{
  padding: 0;
  margin: 0;
}

#main-nav{
  font-size: small;
}
.nav-drop{
  font-size: small;
}
.nav-drop p{
  color: azure;
}
.icons {
  width: 2rem;
}
.icons:hover{
  animation-name: hithere;
  animation-duration: 1s;
}

@keyframes rotate{
  0%{transform: rotate(0deg);}
  100%{transform: rotate(360deg);}
}
@keyframes hithere {
  30% { transform: scale(1.2); }
  40%, 60% { transform: rotate(-20deg) scale(1.2); }
  50% { transform: rotate(20deg) scale(1.2); }
  70% { transform: rotate(0deg) scale(1.2); }
  100% { transform: scale(1); }
}

.footer-icons{
  text-align: center;
}
.footer-text {
  color:azure;
  text-align: center;
  font-size: small;
}
.footer-text a{
  color: azure;
  text-decoration: none;
}

.home-show{
  height: 35rem;
  overflow: visible;
}

#car-body{
  z-index: -2;
}
.project-img{
  height: 35rem;
}
#desc-img{
  height: 10rem;
  text-align: center;
  font-family:'Heiti TC';
}

#desc-img img{
  height: 7rem;
  margin-right: 2rem;
}

#desc, #news{
  background-image: url('./img/small-decor.png');
  background-repeat: no-repeat;
  background-size: auto,40%;
  background-position: bottom right;
  font-family:'Heiti TC';
  animation: back 1s ease;
  transform: translateX(5rem);

}

#desc:hover{
  animation: out 1s ease;
  transform: translateX(0em);

}
#news:hover{
  animation: out 1s ease;
  transform: translateX(0em);
}

#how-row3,#how-row2,#how-row1{
  overflow: hidden;
}


@keyframes out{
  0% { transform: translateX(5rem);}
  100%{transform: translateX(0em);}
}

@keyframes back{
  0% { transform: translateX(0rem);}
  100%{transform: translateX(5em);}
}

#desc a{
  text-decoration: none;
}
#desc img{
  width: 3.4rem;
  margin-right: 1rem;
}


#about{
  font-family:'Heiti TC';
  background-image: url('./img/black-decor-sm.png');
  background-repeat: no-repeat;
  background-size: auto,40%;
  background-position: bottom right;
  animation: back 1s ease;
  transform: translateX(5rem);
}
#about:hover{
  animation: out 1s ease;
  transform: translateX(0em);

}

.project-title {
  font-family:'Heiti TC';
}
.project-detail{
  white-space: pre-line;
}
.home-projects{
  height: 20rem;
  width: 30rem;
}

#conf,#pub{
  background-image: url('./img/small-decor-m2.png');
  background-repeat: no-repeat;
  background-size: 20%,auto;
  background-position: top right;
}

@media screen and (min-width:561px){
  #home-header-m{
    display: none;
  }
  #sm-nav {
    display: none;
  }
  #m-nav {
    display: none;
  }
  #home-page-m {
    display: none;
  }


}

@media screen and (max-width:560px){
  
  #lg-nav{
    display: none;
  }

  #m-nav {
    display: none;
  }
  #m-nav.active{
    color: black;
    display: block;
  }
  #m-nav.active a{
    color:#333;
  }
  #sm-nav {
    width: 40px;
    height: 40px;
    background: #f5f5f5;
    cursor: pointer;
    margin-right: 2rem;
}


#sm-nav span {
    width: 80%;
    height: 2px;
    margin: 0 auto;
    display: block;
    background: #555;
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
}
#sm-nav span:first-of-type,
#sm-nav span:nth-of-type(2),
#sm-nav span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
}
#sm-nav.active span {
    margin: 0 auto;
}
#sm-nav.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
}
#sm-nav.active span:nth-of-type(2) {
    opacity: 0;
}
#sm-nav.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);

}
.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}
#home-header{
  display: none;
}
#home-header-m{
  display: block;
}

#home-header-m img{
  width: 75%;
  
}

#home-content{
  display: none;
}

#about-m {
  background-image: url('./img/small-decor-m.png');
  background-repeat: no-repeat;
  background-size: 30%,auto;
  background-position: top right;
}
#home-row-m2{
  background-image: url('./img/small-decor-m2.png');
  background-repeat: no-repeat;
  background-size: 30%,auto;
  background-position: top right;
}

#home-row-m3{
  background-image: url('./img/small-decor-m.png');
  background-repeat: no-repeat;
  background-size: 30%,auto;
  background-position: top right;
}
#home-row-m2-col-2
{
  height: 22rem;
}
#home-row-m3-col-2
{
  height: 22rem;
}

#conf,#pub{
  background-size: 30%,auto;

}

}