
#main-background {
  background-image:url("./img/background.png");
  background-repeat: no-repeat;
  background-size: contain;
  position:fixed;
  padding: 0%;
  margin: 0%;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: fly-in 2s ease;
}
#img{
  height: 100%;
  width: 70%;
  position: fixed;
  float: right;
  margin-right: 0;
  margin-left: auto;
  z-index: -1;
  transform: translateX(50%) 
}


#logo {
  background-image:url("./img/name.png");
  background-repeat: no-repeat;
  background-size: 65%,65%;
  width: 70%;
  height: 30%;
  margin-left: 10%;
  z-index: 1;
  opacity: 1;
  transform: translateY(36rem) translateX(-5rem);
  animation-name: appear;
  animation-duration: 3.5s;
}


#enter{
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0;
  transform: translateY(27rem) translateX(60rem);
  box-shadow: 2px 3px 10px 3px rgba(0, 0, 0, 0.2);
  animation-name: fly-in-r;
  animation-duration: 4s;
}

#enter:hover {
  box-shadow: 2px 5px 10px 4px rgba(0, 0, 0, 0.3);
}

@keyframes appear {
  0%{opacity: 0;}
  20%{opacity: 0%;}
  40%{opacity: 0%;}
  60%{opacity: 0%;}
  100%{opacity: 1;}
}

@keyframes fly-in-r {
  0%{ transform: translateY(27rem) translateX(100rem);opacity: 0;}
  60%{transform: translateY(27rem) translateX(100rem);opacity: 0;}
  100%{transform: translateY(27rem) translateX(60rem); opacity: 1;}
}

@keyframes fly-in-l {
  0%{transform: translateY(36rem) translateX(-50rem);opacity: 0;}
  60%{transform: translateY(36rem) translateX(-50rem);opacity: 0;}
  100%{transform: translateY(36rem) translateX(0rem); opacity: 1;}
}

@keyframes fly-in {
  0%{ margin-left: -100%;opacity: 0;}
  100%{margin-left: 0; opacity: 1;}
}

@keyframes fly-in-2 {
  0%{ transform: translateY(150%);opacity: 0;}
  20%{transform: translateY(140%);opacity: 0.2}
  40%{transform: translateY(130%);opacity: 0.4}
  60%{transform: translateY(120%);opacity: 0.6}
  80%{transform: translateY(110%);opacity: 0.8}
  100%{transform: translateY(100%);opacity: 1}
}

.home-decor {
  max-width: 50%;
  height: auto;
}

#nav-img{
  padding: 0;
  margin: 0;
}

#main-nav{
  font-size: small;
}
